.upload-input__fileinput {
    opacity: 0;
    position: absolute;
    z-index: 0;
    width: 200px;
    height: 100px;
    cursor: pointer;
}

.upload-input__button {
    border: 1px solid red;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    text-align: center;
    text-transform: uppercase;
}

.upload-input {
    margin: 10px auto;
    width: 200px;
    cursor: pointer;
}

canvas {
    margin: 0 auto;
}

.status-bar {
    margin-top: 8px;
    font-size: 0.9rem;
    color: #333;
    background-color: #eaeaea;
    padding: 6px 12px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.closeButton {
    position: absolute;
    padding: 10px 10px;
    top: 10px;
    right: 50px;
    border-radius: 50px;
    border: 1px solid red;
}

.scale-selector {
    display: flex;
    align-items: center;
    gap: 12px;

    z-index: 1;
  }
  
  .scale-label {
    font-weight: 500;
    font-size: 14px;
  }
  
  .scale-select {
    width: 120px;
  }

  .image-manipulators {
    display: flex;
    margin-top: 15px;
  }
  